<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB_CRMPortalConnectionString" connectionString="Data Source=192.168.6.60;Initial Catalog=DB_CRMPortal_v2;Persist Security Info=True;User ID=sa;Password=Admin@1234" providerName="System.Data.SqlClient" />
    <add name="DB_CRMPortalEntities" connectionString="metadata=res://*/DtModel.csdl|res://*/DtModel.ssdl|res://*/DtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.6.60;initial catalog=DB_CRMPortal;persist security info=True;user id=sa;password=Admin@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_CRMPortalEntitiesModel" connectionString="metadata=res://*/CRMDataModel.csdl|res://*/CRMDataModel.ssdl|res://*/CRMDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.6.60;initial catalog=DB_CRMPortal;persist security info=True;user id=sa;password=Admin@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="SQLConnect" value="Data Source=JAYDEV\TESTNAV2013;Initial Catalog=DB_CRMPortal_v2;Persist Security Info=True;User ID=sa;Password=Admin@1234" />-->
    <add key="SQLConnect" value="Data Source=192.168.0.3;Initial Catalog=DB_CRMPortal;Persist Security Info=True;User ID=sa;Password=Admin@123" />
    <!--<add key="SQLConnect" value="Data Source=MQSYS127\SUNNYF;Initial Catalog=DB_CRMPortal_v2;Integrated Security=True" />-->

    <add key="AppName" value="CRM Portal"/>

    <add key="SecurityKey" value="0x20161231" />

    <add key="UsrID" value="0x22051" />
    <add key="UsrPwd" value="0x22052" />
    <add key="UsrRoleID" value="0x22053" />
    <add key="UsrRoleName" value="0x22054" />
    <add key="ExecutiveCode" value="0x22055" />
    <add key="ExecutiveName" value="0x22056" />
    <add key="ItemCategoryCode" value="0x22057" />

    <add key="SystemDateFormate" value="dd-MMM-yyyy" />
    <add key="NavDateFormate" value="MM-dd-yyyy" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>